html {
	margin: 0;
	padding: 0;
	font-family: 'helvetica neue', sans-serif;
}

.container {
	margin: auto;
	width: 960px;
	padding: 1em;
}
ul {padding: 0; margin: 0;}
ul li {
	list-style-type: none;
	margin: 1.5em 0 0 0;
}

#list {
	padding: 1.5em;
	border: 2px dashed #ccc;
	display: inline-block;
}


form {
  margin: 0 0 0 0;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 24px;
  padding: 4px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 24px;
  color: #555555;
}

.item-destroy {
	position: absolute;
	right: 0px;
	top: 0px;
	display: none;
	cursor: pointer;
}

.item-content {
	width: 220px;
	overflow: none;
	margin-left: 6px;
	margin-right: -6px;
}

li:hover .item-destroy {
	display: block;
}

.item {
	position: relative;
}

input.item-input {
	display: none;
	position: absolute;
	top: -5px;
}

li.editing .item-input {
  display: block;
}